* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem auto;
    gap: 1.5rem;
}

.btns3D {
    width: 10rem;
    height: 10rem;
    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 17px;
    box-shadow: 3px -2px 1px 1px rgb(238, 238, 238);
    transition: all .5s;
    cursor: pointer;

}

a {
    width: 10rem;
    height: 10rem;  
}

.btns3D:hover {
    translate: -20px 22.5px;
    transition: all .5s;
}

img {
    width: 5rem;
    filter: invert(93%) sepia(93%) saturate(32%) hue-rotate(178deg) brightness(106%) contrast(100%);
}


.btnBackground {
    width: 10rem;
    height: 10rem;
    background: rgb(91, 255, 91);
    margin: -8.59rem 0 0 -1.2rem;
    border-radius: 17px;
}

@media (min-width: 800px) {
    ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
        gap: 3rem;
    }
}